<div ng-if="ctrl.isVisible()">

    <div>
        <span>
            <span class="label label-primary" ng-bind="ctrl.data.total"></span>
            <span class="label label-success" ng-bind="ctrl.data.filtered"></span>
            <span class="label label-default" ng-bind="ctrl.data.records.length"></span>
        </span>
        <span style="float: right;">
            <form class="form form-inline">
                <span class="fa fa-search"></span>
                <input class="form-control" type="text" ng-model="ctrl.search" placeholder="szukaj" ng-change="ctrl.pobierzWszystkieOdZera()"/>
            </form>
        </span>
    </div>

    <br/><br/>

    <table class="table table-stripped">
        <tr>
            <th>
                <span ng-click="ctrl.resort('shortName')">Skrót</span>
            </th><th>
                <span ng-click="ctrl.resort('name')">Nazwa</span>
            </th>
            <th>
                <span ng-click="ctrl.resort('date')">Data</span>
            </th>
            <th>
                Akcja
            </th>
        </tr>
        <tr ng-repeat="task in ctrl.data.records" ng-mouseover="ctrl.selected = $index" ng-mouseleave="ctrl.selected = -1">
            <td>
                <span ng-bind="task.shortName" ng-if="ctrl.editedTask.index != $index"></span>
                <input class="form-control" ng-model="ctrl.editedTask.shortName" ng-if="ctrl.editedTask.index == $index"/>
            </td>
            <td>
                <span ng-bind="task.name" ng-if="ctrl.editedTask.index != $index"></span>
                <input class="form-control" ng-model="ctrl.editedTask.name" ng-if="ctrl.editedTask.index == $index"/>
            </td>
            <td>
                <span ng-bind="task.date" ng-if="ctrl.editedTask.index != $index"></span>
                <input type="date" class="form-control" ng-model="ctrl.editedTask.date" ng-if="ctrl.editedTask.index == $index"/>
            </td>
            <td nowrap>
                <button class="btn btn-sm btn-default fa fa-edit" ng-click="ctrl.wybierz($index)" ng-if="ctrl.selected == $index && ctrl.editedTask.index != $index"></button>
                <button class="btn btn-sm btn-default fa fa-check" ng-click="ctrl.zapisz()" ng-if="ctrl.editedTask.index == $index" ng-disabled="!ctrl.editedTask.shortName || !ctrl.editedTask.name"></button>
                <button class="btn btn-sm btn-default fa fa-times" ng-click="ctrl.editedTask = -1" ng-if="ctrl.editedTask.index == $index"></button>
                <button class="btn btn-sm btn-default fa fa-trash" ng-click="ctrl.usun($index)" ng-if="ctrl.editedTask.index == $index"></button>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" ng-model="ctrl.newTask.shortName" placeholder="skrót"/>
            </td>
            <td>
                <input type="text" class="form-control" ng-model="ctrl.newTask.name" placeholder="nazwa"/>
            </td>
            <td>
                <input type="date" class="form-control" ng-model="ctrl.newTask.date"/>
            </td>
            <td nowrap>
                <button class="btn btn-sm btn-primary fa fa-plus" ng-click="ctrl.wyslij()" ng-disabled="!ctrl.newTask.shortName || !ctrl.newTask.name || !ctrl.newTask.date"></button>
                <button class="btn btn-sm btn-danger fa fa-trash" ng-click="ctrl.zeruj()"></button>
            </td>
        </tr>
    </table>

    <button class="btn btn-sm btn-default fa fa-angle-down" ng-click="ctrl.doczytaj()" ng-disabled="ctrl.skip + ctrl.data.records.length >= ctrl.data.filtered"></button>
    <button class="btn btn-sm btn-default fa fa-angle-left" ng-click="ctrl.poprzedniaPorcja()" ng-disabled="ctrl.skip <= 0"></button>
    <button class="btn btn-sm btn-default fa fa-angle-right" ng-click="ctrl.nastepnaPorcja()" ng-disabled="ctrl.skip + ctrl.limit >= ctrl.data.filtered"></button>

</div>